src/assets/forms/Sesar.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://app.geosamples.org" targetNamespace="http://app.geosamples.org" elementFormDefault="qualified">
  <xs:include schemaLocation="http://app.geosamples.org/classifications.xsd" />
  <xs:element name="samples">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sample" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:all>
              <!-- user_code, SESAR user code, five digits e.g. IESES. Three digits user code are legacy user codes. They are still supported.  -->
              <xs:element ref="user_code" />
              <!--  sample_type, also called object type, controlled list. e.g., Core  -->
              <xs:element ref="sample_type" />
              <!--  sample_subtype, the subtype of sample type, controlled list. e.g., Individual Sample > Thin Section: 'Thin Section' is the sample_subtype and 'Individual Sample' is the sample_type. https://app.geosamples.org/reference/sampletypes.php  -->
              <xs:element ref="sample_subtype" minOccurs="0" />
              <!-- name, Name of the sample  -->
              <xs:element ref="name" />
              <!-- material, controlled list e.g. Rock, Mineral, Biology, Liquid>aqueous  -->
              <xs:element ref="material" />
              <!-- igsn, the IGSN of the sample, leave line out for automatic assignment (recommended). See detail at http://www.geosamples.org/aboutigsn  -->
              <xs:element ref="igsn" minOccurs="0" />
              <!-- parent_igsn, IGSN of the parent of the current sample  -->
              <xs:element ref="parent_igsn" minOccurs="0" />
              <!-- is_private, deprecated. It will be ignored. Please use publish_date to set the sample metadata privacy.  -->
              <xs:element ref="is_private" minOccurs="0" />
              <!-- publish_date, date on which sample metadata become publicly accessible, YYYY-MM-DD. It is recommended that sample metadata become public within 2 years of sample registration. Publish Date is also referred to as Release Date. -->
              <xs:element ref="publish_date" minOccurs="0" />
              <!-- classification, controlled list, classification specific to material. See http://app.geosamples.org/classifications.xsd  -->
              <xs:element ref="classification" minOccurs="0" />
              <!-- classification_comment, comment about classification  -->
              <xs:element ref="classification_comment" minOccurs="0" />
              <!-- field_name, Taxonomy, Informal classification of sample  -->
              <xs:element ref="field_name" minOccurs="0" />
              <!-- description, Free text to describe features of a sample such as its components, texture, color, shape, etc  -->
              <xs:element ref="description" minOccurs="0" />
              <!-- age_min, Numerical value for the minimum age of a sample, must be a number  -->
              <xs:element ref="age_min" minOccurs="0" />
              <!-- age_max, Numerical value for the maximum age of a sample, must be a number  -->
              <xs:element ref="age_max" minOccurs="0" />
              <!-- age_unit, Unit for the age provided, e.g., Ma, years  -->
              <xs:element ref="age_unit" minOccurs="0" />
              <!-- geological_age, Age of a sample as described by the stratigraphic era, period, state, etc., e.g., Cretaceous  -->
              <xs:element ref="geological_age" minOccurs="0" />
              <!-- geological_unit, A body of rock established as a distinct entity in the classification of the Earth's rocks, e.g. Coconino Sandstone -->
              <xs:element ref="geological_unit" minOccurs="0" />
              <!-- collection_method, Method by which a sample was collected, e.g., Dredging, Manual  -->
              <xs:element ref="collection_method" minOccurs="0" />
              <!-- collection_method_descr, Additional information about the collection method  -->
              <xs:element ref="collection_method_descr" minOccurs="0" />
              <!-- size, Size of the registered object, such as the dimension of a specimen, the length of a core, or the weight of a dredge  -->
              <xs:element ref="size" minOccurs="0" />
              <!-- size_unit, Unit for the numerical value provided for 'size'.  -->
              <xs:element ref="size_unit" minOccurs="0" />
              <!-- sample_comment, Any free text comment about the sample.  -->
              <xs:element ref="sample_comment" minOccurs="0" />
              <!-- purpose, The purpose for collecting the sample. e.g. paleomagnetism.  -->
              <xs:element ref="purpose" minOccurs="0" maxOccurs="1" />
              <!-- latitude, Latitude of the location where the sample was collected. ('Start latitude' for linear sampling features such as dredges.)
             Needs to be entered in decimal degrees. Negative values for South latitudes. (Coordinate system: WGS84)  -->
              <xs:element ref="latitude" minOccurs="0" />
              <!-- longitude, Longitude of the location where the sample was collected. ('Start longitude' for linear sampling features such as dredges.)
             Needs to be entered in decimal degrees. Negative values for 'West' longitudes. (Coordinate system: WGS84)  -->
              <xs:element ref="longitude" minOccurs="0" />
              <!-- latitude_end, End latitude of the location where the sample was collected. (Coordinate system: WGS84)  -->
              <xs:element ref="latitude_end" minOccurs="0" />
              <!-- longitude_end, End longitude of the location where the sample was collected. (Coordinate system: WGS84)  -->
              <xs:element ref="longitude_end" minOccurs="0" />
              <!-- elevation, Elevation at which a sample was collected (in meters). Use negative values for depth below sea level.
                    Minimum elevation if a range is provided for the elevation/depth below sea level.  -->
              <xs:element ref="elevation" minOccurs="0" />
              <!-- elevation_end, End elevation at which a sample was collected (in meters). Use negative values for depth below sea level.
                        Maximum elevation if a range is provided for the elevation/depth below sea level.  -->
              <xs:element ref="elevation_end" minOccurs="0" />
              <!-- elevation_unit, Unit for the elevation provided. E.G. Meters, Feet.  -->
              <xs:element ref="elevation_unit" minOccurs="0" />
              <!--  vertical_datum, surface of zero elevation to which heights of various points are referred in order that those heights be in a consistent system.
          e.g.,NAVD88 (North American Vertical Datum of 1988) and MSL (Mean Sea Level)  -->
              <xs:element ref="vertical_datum" minOccurs="0" />
              <!-- northing, UTM northing (m): An number between 0 and 10,000,000 (Coordinate system: UTM NAD83) -->
              <xs:element ref="northing" minOccurs="0" />
              <!-- easting, UTM easting (m): An number between 0 and 834,000 (Coordinate system: UTM NAD83)  -->
              <xs:element ref="easting" minOccurs="0" />
              <!-- zone, UTM zone, use A to Z to specify hemisphere zone. e.g., "11N"  -->
              <xs:element ref="zone" minOccurs="0" />
              <!-- navigation_type, Navigation type, controlled list, e.g., GPS  -->
              <xs:element ref="navigation_type" minOccurs="0" />
              <!-- primary_location_type, AKA Physiographic feature, Type of physical feature that your sample was collected from  -->
              <xs:element ref="primary_location_type" minOccurs="0" />
              <!-- primary_location_name, AKA Name of physiographic feature. Name of the primary_location_type that you entered  -->
              <xs:element ref="primary_location_name" minOccurs="0" />
              <!-- location_description, Free text description of the location  -->
              <xs:element ref="location_description" minOccurs="0" />
              <!-- locality, Name of the specific place where your sample was collected. This could be the  name of a mine, a volcanic field, a vent field, or similar  -->
              <xs:element ref="locality" minOccurs="0" />
              <!-- locality_description, Additional information about the specific place where your sample was collected  -->
              <xs:element ref="locality_description" minOccurs="0" />
              <!-- country, Country where the sample was collected, controlled list  -->
              <xs:element ref="country" minOccurs="0" />
              <!-- province, State or Province where the sample was collected  -->
              <xs:element ref="province" minOccurs="0" />
              <!-- county, County where the sample was collected  -->
              <xs:element ref="county" minOccurs="0" />
              <!-- city, City or Township where the sample was collected  -->
              <xs:element ref="city" minOccurs="0" />
              <!-- cruise_field_prgrm, Name or identifier of the field program (cruise or expedition), during which the sample was collected.
             For ship cruises, we recommend using the R2R Cruise ID at http://www.rvdata.us/catalog  -->
              <xs:element ref="cruise_field_prgrm" minOccurs="0" />
              <!-- platform type, Type of platform for the cruise. Suggested list.  -->
              <xs:element ref="platform_type" minOccurs="0" />
              <!-- platform_name, Name of platform for the cruise.  -->
              <xs:element ref="platform_name" minOccurs="0" />
              <!-- platform_descr, Description of the platform for the cruise.  -->
              <xs:element ref="platform_descr" minOccurs="0" />
              <!-- launch_platform_name, name of the launch platform that collected the sample e.g., Alvin  -->
              <xs:element ref="launch_platform_name" minOccurs="0" />
              <!-- launch_id, Further identifying information about the launch. e.g. for an Alvin Dive, the dive number "3969"'  -->
              <xs:element ref="launch_id" minOccurs="0" />
              <!-- launch_type_name, The type of launch used to collect the sample. e.g. "HOV" (Remotely-Operated Vehicle).  -->
              <xs:element ref="launch_type_name" minOccurs="0" />
              <!-- collector, Name of the person who collected the sample. In case of larger field programs,
                       name of chief scientist responsible for sample collection.  -->
              <xs:element ref="collector" minOccurs="0" />
              <!-- collector_detail, Institution, address, & email of the collector or chief scientist.   -->
              <xs:element ref="collector_detail" minOccurs="0" />
              <!-- collection_start_date, Date when the sample was collected. The format is YYYY-MM-DDTHH:MM:SSZ eg. 2002-05-30T09:30:10Z
          'Z' indicates UTC. If 'Z' is not specified, we will default to United States Eartern Time.  -->
              <xs:element ref="collection_start_date" minOccurs="0" />
              <!-- collection_end_date, Date when the sample collection was finished (if a date range is provided). The format is YYYY-MM-DDTHH:MM:SSZ eg. 2002-05-30T09:30:10Z
          'Z' indicates UTC. If 'Z' is not specified, we will default to United States Eartern Time. -->
              <xs:element ref="collection_end_date" minOccurs="0" />
              <!-- collection_date_precision, Precision to display the collection date and time.e.g., year; month; day; time  -->
              <xs:element ref="collection_date_precision" minOccurs="0" />
              <!-- current_archive, Name of institution, museum, or repository where the sample is currently stored.  -->
              <xs:element ref="current_archive" minOccurs="0" />
              <!-- current_archive_contact, Address and/or email of the person who should be contacted for information about or access to the sample.  -->
              <xs:element ref="current_archive_contact" minOccurs="0" />
              <!-- original_archive, Name of institution, museum, or repository where the sample was originally stored.   -->
              <xs:element ref="original_archive" minOccurs="0" />
              <!-- original_archive_contact, Address and/or email of the person who should be contacted for information about the sample's original archive.  -->
              <xs:element ref="original_archive_contact" minOccurs="0" />
              <!-- depth_min, Minimum depth at which a sample was collected from its parent core  -->
              <xs:element ref="depth_min" minOccurs="0" />
              <!-- depth_max, Maximum depth at which a sample was collected from its parent core  -->
              <xs:element ref="depth_max" minOccurs="0" />
              <!-- depth_scale, Unit in which the depth is provided, e.g., MBSF  -->
              <xs:element ref="depth_scale" minOccurs="0" />
              <!-- sample_other_names, Other names for the sample. Can enter multiple other names.  -->
              <xs:element name="sample_other_names" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="sample_other_name" minOccurs="1" maxOccurs="unbounded" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <!--  External public URLs related to the sample  -->
              <xs:element name="external_urls" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="external_url" minOccurs="1" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:all>
                          <!-- url, URL link related to the sample  -->
                          <xs:element ref="url" minOccurs="1" maxOccurs="1" />
                          <!-- url_description, Description of URL link related to the sample  -->
                          <xs:element ref="description" minOccurs="0" maxOccurs="1" />
                          <!-- url_type, URL types currently available are DOI or regular  -->
                          <xs:element ref="url_type" minOccurs="0" maxOccurs="1" />
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- Definitions of all controlled vocabularies. See http://www.geosamples.org/help/vocabularies  -->
  <xs:element name="sample_type">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <!-- Definitions at https://app.geosamples.org/reference/sampletypes.php  -->
        <xs:pattern value="((B|b)(E|e)(A|a)(D|d))|((C|c)(H|h)(E|e)(M|m)(I|i)(C|c)(A|a)(L|l)( | )(F|f)(R|r)(A|a)(C|c)(T|t)(I|i)(O|o)(N|n))|((C|c)(O|o)(R|r)(E|e))|((C|c)(O|o)(R|r)(E|e)( | )(H|h)(A|a)(L|l)(F|f)( | )(R|r)(O|o)(U|u)(N|n)(D|d))|((C|c)(O|o)(R|r)(E|e)( | )(P|p)(I|i)(E|e)(C|c)(E|e))|((C|c)(O|o)(R|r)(E|e)( | )(Q|q)(U|u)(A|a)(R|r)(T|t)(E|e)(R|r)( | )(R|r)(O|o)(U|u)(N|n)(D|d))|((C|c)(O|o)(R|r)(E|e)( | )(S|s)(E|e)(C|c)(T|t)(I|i)(O|o)(N|n))|((C|c)(O|o)(R|r)(E|e)( | )(S|s)(E|e)(C|c)(T|t)(I|i)(O|o)(N|n)( | )(H|h)(A|a)(L|l)(F|f))|((C|c)(O|o)(R|r)(E|e)( | )(S|s)(U|u)(B|b)(-|-)(P|p)(I|i)(E|e)(C|c)(E|e))|((C|c)(O|o)(R|r)(E|e)( | )(W|w)(H|h)(O|o)(L|l)(E|e)( | )(R|r)(O|o)(U|u)(N|n)(D|d))|((C|c)(T|t)(D|d))|((C|c)(U|u)(B|b)(E|e))|((C|c)(U|u)(L|l)(T|t)(U|u)(R|r)(E|e))|((C|c)(U|u)(T|t)(T|t)(I|i)(N|n)(G|g)(S|s))|((C|c)(Y|y)(L|l)(I|i)(N|n)(D|d)(E|e)(R|r))|((D|d)(R|r)(E|e)(D|d)(G|g)(E|e))|((G|g)(A|a)(S|s))|((G|g)(R|r)(A|a)(B|b))|((H|h)(O|o)(L|l)(E|e))|((I|i)(N|n)(D|d)(I|i)(V|v)(I|i)(D|d)(U|u)(A|a)(L|l)( | )(S|s)(A|a)(M|m)(P|p)(L|l)(E|e))|((L|l)(I|i)(Q|q)(U|u)(I|i)(D|d))|((M|m)(E|e)(C|c)(H|h)(A|a)(N|n)(I|i)(C|c)(A|a)(L|l)( | )(F|f)(R|r)(A|a)(C|c)(T|t)(I|i)(O|o)(N|n))|((O|o)(R|r)(I|i)(E|e)(N|n)(T|t)(E|e)(D|d)( | )(C|c)(O|o)(R|r)(E|e))|((P|p)(O|o)(W|w)(D|d)(E|e)(R|r))|((R|r)(O|o)(C|c)(K|k)( | )(P|p)(O|o)(W|w)(D|d)(E|e)(R|r))|((S|s)(I|i)(T|t)(E|e))|((S|s)(L|l)(A|a)(B|b))|((S|s)(M|m)(E|e)(A|a)(R|r))|((S|s)(P|p)(E|e)(C|c)(I|i)(M|m)(E|e)(N|n))|((S|s)(Q|q)(U|u)(E|e)(E|e)(Z|z)(E|e)( | )(C|c)(A|a)(K|k)(E|e))|((T|t)(E|e)(R|r)(R|r)(E|e)(S|s)(T|t)(R|r)(I|i)(A|a)(L|l)( | )(S|s)(E|e)(C|c)(T|t)(I|i)(O|o)(N|n))|((T|t)(H|h)(I|i)(N|n)( | )(S|s)(E|e)(C|c)(T|t)(I|i)(O|o)(N|n))|((T|t)(O|o)(O|o)(T|t)(H|h)(P|p)(I|i)(C|c)(K|k))|((T|t)(R|r)(A|a)(W|w)(L|l))|((U|u)(-|-)(C|c)(H|h)(A|a)(N|n)(N|n)(E|e)(L|l))|((W|w)(E|e)(D|d)(G|g)(E|e))|((O|o)(T|t)(H|h)(E|e)(R|r))" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="sample_subtype">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="255" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="user_code">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:pattern value="([A-Z0-9]{3}|[A-Z0-9]{5})" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="name">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="255" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="material">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <!-- Definitions at https://app.geosamples.org/reference/materials.php  -->
        <xs:pattern value="((B|b)(I|i)(O|o)(L|l)(O|o)(G|g)(Y|y))|((G|g)(A|a)(S|s))|((I|i)(C|c)(E|e))|((L|l)(I|i)(Q|q)(U|u)(I|i)(D|d)(&gt;|&gt;)(A|a)(Q|q)(U|u)(E|e)(O|o)(U|u)(S|s))|((L|l)(I|i)(Q|q)(U|u)(I|i)(D|d)(&gt;|&gt;)(O|o)(R|r)(G|g)(A|a)(N|n)(I|i)(C|c))|((M|m)(I|i)(N|n)(E|e)(R|r)(A|a)(L|l))|((N|n)(O|o)(T|t)(A|a)(P|p)(P|p)(L|l)(I|i)(C|c)(A|a)(B|b)(L|l)(E|e))|((O|o)(T|t)(H|h)(E|e)(R|r))|((P|p)(A|a)(R|r)(T|t)(I|i)(C|c)(U|u)(L|l)(A|a)(T|t)(E|e))|((R|r)(O|o)(C|c)(K|k))|((S|s)(E|e)(D|d)(I|i)(M|m)(E|e)(N|n)(T|t))|((S|s)(O|o)(I|i)(L|l))|((S|s)(Y|y)(N|n)(T|t)(H|h)(E|e)(T|t)(I|i)(C|c))" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="igsn">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:pattern value="10\.[0-9]{4,8}\/[A-Za-z0-9\.\-]{9,32}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="parent_igsn">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:pattern value="10\.[0-9]{4,8}\/[A-Za-z0-9\.\-]{9,32}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="is_private" default="0">
    <xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:enumeration value="0" />
        <xs:enumeration value="1" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="publish_date">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <!--  Format (YYYY-MM-DD) is prefered. Format MM/DD/YYYY is deprecated.  -->
        <xs:pattern value="([0-9]{4}-[0-9]{2}-[0-9]{2})|([0-9]{2}\\/[0-9]{2}\\/[0-9]{4})" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="classification_comment">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="200" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <!--   Existing field name for reference only. https://app.geosamples.org/reference/field_names.php  -->
  <xs:element name="field_name">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="255" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="description">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="2000" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="age_min">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="age_max">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="age_unit">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="255" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="geological_age">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="500" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="geological_unit">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="500" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <!-- Existing collection methods at https://app.geosamples.org/reference/advanced_list.php?srv=collection_method  -->
  <xs:element name="collection_method">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="255" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="collection_method_descr">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="1000" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="size">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="255" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="size_unit">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="255" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="sample_comment">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="2000" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="latitude">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:minInclusive value="-90" />
        <xs:maxInclusive value="90" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="longitude">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:minInclusive value="-180" />
        <xs:maxInclusive value="180" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="latitude_end">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:minInclusive value="-90" />
        <xs:maxInclusive value="90" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="longitude_end">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:minInclusive value="-180" />
        <xs:maxInclusive value="180" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="elevation">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:minInclusive value="-30000" />
        <xs:maxInclusive value="30000" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="elevation_end">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:minInclusive value="-30000" />
        <xs:maxInclusive value="30000" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="primary_location_type">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="255" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="primary_location_name">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="255" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="location_description">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="2000" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="locality">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="255" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="locality_description">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="2000" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <!-- Definitions at https://app.geosamples.org/reference/countries.php  -->
  <xs:element name="country">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="255" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="province">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="255" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="county">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="255" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="city">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="255" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <!-- Existing cruises/field programs at https://app.geosamples.org/reference/advanced_list.php?srv=cruise_field_prgrm  -->
  <xs:element name="cruise_field_prgrm">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="255" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="platform_type">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="255" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="platform_name">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="2000" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="platform_descr">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="2000" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <!-- Existing collectors at https://app.geosamples.org/reference/advanced_list.php?srv=collector  -->
  <xs:element name="collector">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="255" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="collector_detail">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="2000" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="collection_start_date" type="xs:dateTime" />
  <xs:element name="collection_end_date" type="xs:dateTime" />
  <xs:element name="collection_date_precision">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:pattern value="((Y|y)(E|e)(A|a)(R|r))|((M|m)(O|o)(N|n)(T|t)(H|h))|((D|d)(A|a)(Y|y))|((T|t)(I|i)(M|m)(E|e))" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <!-- Existing archives at https://app.geosamples.org/reference/advanced_list.php?srv=archive  -->
  <xs:element name="current_archive">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="300" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="current_archive_contact">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="1000" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="original_archive">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="300" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="original_archive_contact">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="1000" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="depth_min" type="xs:decimal" />
  <xs:element name="depth_max" type="xs:decimal" />
  <xs:element name="depth_scale">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="255" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <!-- Definitions at https://app.geosamples.org/reference/navtypes.php  -->
  <xs:element name="navigation_type">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:pattern value="((A|a)(C|c)(O|o)(U|u)(S|s)(T|t)(I|i)(C|c)(_|_)(R|r)(A|a)(N|n)(G|g)(I|i)(N|n)(G|g)(/|/)(G|g)(P|p)(S|s))|((D|d)(G|g)(P|p)(S|s))|((D|d)(V|v)(L|l))|((D|d)(V|v)(L|l)(/|/)(L|l)(B|b)(L|l))|((D|d)(V|v)(L|l)(/|/)(L|l)(B|b)(L|l)(/|/)(I|i)(N|n)(S|s))|((D|d)(V|v)(L|l)(/|/)(L|l)(B|b)(L|l)(:|:)(R|r)(E|e)(N|n)(A|a)(V|v))|((D|d)(V|v)(L|l)(/|/)(L|l)(B|b)(L|l)(:|:)(R|r)(E|e)(N|n)(A|a)(V|v)(:|:)(C|c)(O|o)(N|n)(F|f)(I|i)(R|r)(M|m)(E|e)(D|d))|((D|d)(V|v)(L|l)(/|/)(U|u)(S|s)(B|b)(L|l))|((D|d)(V|v)(L|l)(/|/)(U|u)(S|s)(B|b)(L|l)(:|:)(R|r)(E|e)(N|n)(A|a)(V|v))|((D|d)(V|v)(L|l)(:|:)(R|r)(E|e)(N|n)(A|a)(V|v))|((D|d)(V|v)(L|l)(:|:)(R|r)(E|e)(N|n)(A|a)(V|v)(:|:)(C|c)(O|o)(N|n)(F|f)(I|i)(R|r)(M|m)(E|e)(D|d))|((G|g)(L|l)(O|o)(N|n)(A|a)(S|s)(S|s))|((G|g)(P|p)(S|s))|((G|g)(P|p)(S|s)(/|/)(W|w)(I|i)(R|r)(E|e)(O|o)(U|u)(T|t))|((G|g)(P|p)(S|s)(:|:)(A|a)(S|s)(S|s)(U|u)(M|m)(E|e)(D|d))|((L|l)(A|a)(Y|y)(B|b)(A|a)(C|c)(K|k))|((L|l)(A|a)(Y|y)(B|b)(A|a)(C|c)(K|k)(/|/)(L|l)(B|b)(L|l))|((L|l)(B|b)(L|l))|((L|l)(O|o)(R|r)(A|a)(N|n))|((L|l)(O|o)(C|c)(A|a)(L|l)(E|e))|((N|n)(O|o)(T|t)( | )(A|a)(P|p)(P|p)(L|l)(I|i)(C|c)(A|a)(B|b)(L|l)(E|e))|((R|r)(T|t)(K|k)( | )(G|g)(P|p)(S|s))" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <!-- Existing names at https://app.geosamples.org/reference/advanced_list.php?srv=platform_name  -->
  <xs:element name="launch_platform_name">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="100" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="launch_id">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="100" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <!-- Definitions at https://app.geosamples.org/reference/launchtypes.php  -->
  <xs:element name="launch_type_name">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:pattern value="((A|a)(U|u)(V|v))|((H|h)(O|o)(V|v))|((R|r)(O|o)(V|v))|((S|s)(L|l)(E|e)(D|d))|((N|n)(O|o)(T|t)( | )(A|a)(P|p)(P|p)(L|l)(I|i)(C|c)(A|a)(B|b)(L|l)(E|e))" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="sample_other_name">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="255" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="purpose">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="100" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="url">
    <xs:simpleType>
      <xs:restriction base="xs:anyURI">
        <xs:minLength value="0" />
        <xs:maxLength value="255" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="url_description">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:minLength value="0" />
        <xs:maxLength value="500" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="url_type">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:pattern value="((R|r)(E|e)(G|g)(U|u)(L|l)(A|a)(R|r)( | )(U|u)(R|r)(L|l))|((D|d)(O|o)(I|i))" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="northing">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:minInclusive value="0" />
        <xs:maxInclusive value="10000000" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="easting">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:minInclusive value="0" />
        <xs:maxInclusive value="834000" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="zone">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:pattern value="([0-9]{1})([A-Z]{1})|([0-5]{1})([0-9]{1})([A-Z]{1})|(60)([A-Z]{1})" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="vertical_datum">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:pattern value="((N|n)(A|a)(V|v)(D|d)(8|8)(8|8))|((M|m)(S|s)(L|l))" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="elevation_unit">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:pattern value="[Ff][Ee][Ee][Tt]|[Mm][Ee][Tt][Ee][Rr][Ss]|[Kk][Ii][Ll][Oo][Mm][Ee][Tt][Ee][Rr][Ss]|[Mm][Ii][Ll][Ee][Ss]" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
</xs:schema>
